@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  background-image: linear-gradient(90deg, #e3c1ff, #7158e2);
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.search {
  position: relative;
  height: 5rem;
}

.search .input {
  background-color: #fff;
  border: 0;
  font-size: 1.8rem;
  padding: 1.5rem;
  height: 5rem;
  width: 5rem;
  transition: width 0.3s ease;
}
.btn {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 2.4rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 5rem;
  width: 5rem;
  transition: all 0.3s ease;
}
.btn:focus,
.input:focus {
  outline: none;
}

.search.active .input {
  width: 30rem;
}
.search.active .btn {
  transform: translateX(29.8rem);
}
