@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
img {
  width: 50rem;
  height: 50rem;
  object-fit: cover;
}
.carousel {
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  height: 53rem;
  width: 50rem;
  overflow: hidden;
}
.image-container {
  display: flex;
  transform: translateX(-1500px);
  transition: transform 0.5s ease-in-out;
}
.buttons-container {
  display: flex;
  justify-content: space-between;
}
.btn {
  background-color: rebeccapurple;
  color: #fff;
  border: 0;
  padding: 0.8rem;
  cursor: pointer;
  width: 49.5%;
}
.btn:hover {
  opacity: 0.9;
}
.btn:focus {
  outline: none;
}
